<li class="display-list-1-item">
    <div class="display-list-1-img" style="background: <%= color %>"></div>
    <div class="display-list-1-content">
        <div class="display-list-1-title"><%= title %></div>
        <div class="display-list-1-info">
            <span><%= author %></span>
            <span><%= time %></span>
        </div>
        <div class="display-list-1-text"><%= text %></div>
    </div>
</li>