<div class="wd-pager">

    <% if (goToPageable) { %>
    <div class="wd-pager-go">
        <span>跳至</span>
        <input class="wd-pager-which" type="text" value="<%= pageWhich %>">
        <span>页</span>
        <button class="wd-pager-go-button wd-button-primary">跳转</button>
    </div>
    <% } %>

    <ol class="wd-pager-list">
        <% if (current > 1) { %><li class="wd-pager-item"><a class="wd-pager-button" data-value="<%= current - 1 %>">&lt;</a></li><% } %>
        <% if (current > 3) { %><li class="wd-pager-item"><a class="wd-pager-button" data-value="1">1</a></li><% } %>
        <% if (current > 4) { %><li class="wd-pager-item">...</li><% } %>
        <% if (current > 2) { %><li class="wd-pager-item"><a class="wd-pager-button" data-value="<%= current - 2 %>"><%= current - 2 %></a></li><% } %>
        <% if (current > 1) { %><li class="wd-pager-item"><a class="wd-pager-button" data-value="<%= current - 1 %>"><%= current - 1 %></a></li><% } %>
        <% if (current ) { %><li class="wd-pager-item wd-pager-current"><a class="wd-pager-button" data-value="<%= current %>"><%= current %></a></li><% } %>
        <% if (totalPage - current >= 1) { %><li class="wd-pager-item"><a class="wd-pager-button" data-value="<%= current + 1 %>"><%= current + 1 %></a></li><% } %>
        <% if (totalPage - current >= 2 ) { %><li class="wd-pager-item"><a class="wd-pager-button" data-value="<%= current + 2 %>"><%= current + 2 %></a></li><% } %>
        <% if (totalPage - current >= 4 ) { %><li class="wd-pager-item">...</li><% } %>
        <% if (totalPage - current >= 3 ) { %><li class="wd-pager-item"><a class="wd-pager-button" data-value="<%= totalPage %>"><%= totalPage %></a></li><% } %>
        <% if (totalPage - current >= 1 ) { %><li class="wd-pager-item"><a class="wd-pager-button" data-value="<%= current + 1 %>">&gt;</a></li><% } %>
    </ol>


    <div class="wd-pager-info">
        <% if (countShow) { %>
        <div class="wd-pager-info-total">
            <span>共</span>
            <span><%= count %></span>
            <span>条</span>
        </div>
        <% } %>
        <% if (eachNumberChangeable) { %>
        <div class="wd-pager-info-each">
            <select class="wd-pager-each-number">
                <option value="10" <% if (eachNumber == 10) { %>selected<% } %> >10 条/页</option>
                <option value="20" <% if (eachNumber == 20) { %>selected<% } %> >20 条/页</option>
                <option value="50" <% if (eachNumber == 50) { %>selected<% } %> >50 条/页</option>
                <option value="100" <% if (eachNumber == 100) { %>selected<% } %> >100 条/页</option>
            </select>
        </div>
        <% } %>
    </div>

</div>