<% for (var i = 0; i < data.length; i ++) { %>
<%
    var rowValue = data[i];
    var rowInfo = dataList[i];
    var rowLevel = rowInfo.level;
    var endLevel = levelCount - 1;
    var shouldClosed = closedLevel !== undefined && rowLevel >= closedLevel && rowLevel < endLevel;
    var classListCloseBy = '';

    if (closedLevel !== undefined) {
        for (var k = closedLevel ; k < rowLevel; k ++) {
            classListCloseBy += (' wd-tree-table-tr-close-by-' + k);
        }
    }
%>

<tr class="wd-tree-table-tr-level-<%= rowLevel %>
    <%= shouldClosed ? 'wd-tree-table-first-col-children-closed' : ''%>
    <%= classListCloseBy %>
">
    <% for (var j = 0; j < rowValue.length; j ++) { %>
        <% if (j === 0) { %>
        <td class="wd-tree-table-first-col">
            <a class="wd-tree-table-first-button
            <%= levelCount > rowLevel + 1 ? 'wd-tree-table-first-button-clickable' : '' %>
            "
               data-index="<%= i %>"></a>
            <%- rowValue[j] %>
        </td>
        <% } else { %>
        <td><%- rowValue[j] %></td>
        <% } %>
    <% } %>
</tr>
<% } %>