<div class="wd-menu" id="menu">
    <div class="wd-menu-logo"><strong class="example-menu-logo">widgets</strong></div>
    <ul class="wd-menu-list">
        <li class="wd-menu-item">
            <div class="wd-menu-item-content <%= name === 'all' && 'wd-menu-item-current' %>"><a class="wd-menu-item-link" href="">整体展示</a></div>
        </li>

        <!--<li class="wd-menu-item">-->
            <!--<div class="wd-menu-item-content <%= name === '' && 'wd-menu-item-current' %>"><a class="wd-menu-item-link" href="">使用说明</a></div>-->
        <!--</li>-->
        <!--<li class="wd-menu-item">-->
            <!--<div class="wd-menu-item-content <%= name === 'base' && 'wd-menu-item-current' %>"><a class="wd-menu-item-link" href="">基础组件</a></div>-->
        <!--</li>-->
        <!--<li class="wd-menu-item">-->
            <!--<div class="wd-menu-item-content <%= name === '' && 'wd-menu-item-current' %>"><a class="wd-menu-item-link" href="">js组件</a></div>-->
            <!--<ul class="wd-menu-list">-->
                <!--<li class="wd-menu-item">-->
                    <!--<div class="wd-menu-item-content <%= name === '' && 'wd-menu-item-current' %>"><a class="wd-menu-item-link" href="">checkboxAll</a></div>-->
                <!--</li>-->
                <!--<li class="wd-menu-item">-->
                    <!--<div class="wd-menu-item-content <%= name === '' && 'wd-menu-item-current' %>"><a class="wd-menu-item-link" href="">checkboxes</a></div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->

    </ul>
</div>
