<div class="wd-modal-body">

    <div class="wd-modal-header">
        <span class="wd-modal-header-title"><%= title %></span>
        <% if (headerClosable) { %>
        <a class="wd-modal-header-close">x</a>
        <% } %>
    </div>

    <div class="wd-modal-content">
        <%- content %>
    </div>

    <% if (handleList.length > 0) { %>
    <div class="wd-modal-footer">
        <% for (var i = 0; i < handleList.length; i ++) { %>
        <button class="wd-modal-button <%= handleList[i].isPrimary ? 'wd-modal-button-primary' : '' %> <%= handleList[i].isPrimary ? 'wd-button-primary' : 'wd-button' %>"
        data-index="
        <%= i %>
        "
        >
            <%= handleList[i].text %>
        </button>
        <% } %>
    </div>
    <% } %>

</div>