<%- include('../commonEjs/header.ejs', {name: 'all'}) %>
<div class="top-bar">
    <div id="navigator"></div>
</div>

<%- include('./cardForm.ejs') %>
<%- include('./cardManipulate.ejs') %>
<%- include('./cardDisplay.ejs') %>

<%- include('../commonEjs/footer.ejs') %>